<% provide(:title, 'About') %>
<h1>About</h1>
	<body>
		<p>
			<img data-src="holder.js/200x200/text:Lorem ipsum">
		</p>
	
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices gravida risus quis varius. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc sem orci, malesuada vitae dapibus at, scelerisque in nulla. Sed tincidunt mauris vel tortor feugiat eget aliquam arcu luctus. Donec laoreet pretium consectetur. Maecenas dolor dui, suscipit ac sollicitudin ut, auctor in neque. Suspendisse mi est, malesuada in feugiat vitae, porttitor sit amet sapien. Integer id est vel lorem laoreet tristique eu in augue. Nunc id tincidunt nisi. Suspendisse id tortor sit amet lorem mattis auctor quis at nisl. Sed convallis erat at eros tincidunt vitae commodo massa commodo. Vivamus rutrum pharetra orci, consectetur facilisis mauris vehicula sollicitudin. Donec sit amet rhoncus urna. Pellentesque vel tortor sed nibh aliquam ultricies. In non mi nisl, sit amet volutpat enim. Nulla ac gravida mi.
		</p>

		<p>
			Aenean quis ornare nisi. Etiam cursus, nunc a hendrerit interdum, nunc dolor scelerisque ligula, a sodales justo velit ut metus. Sed leo mauris, luctus a blandit eget, consequat id nulla. Vivamus porttitor ipsum eu nibh viverra ac placerat nunc auctor. Sed ipsum ipsum, dictum sed tristique ac, posuere in lectus. Vestibulum suscipit nisl sed est scelerisque at placerat odio tincidunt. Mauris vitae metus eget felis laoreet placerat. Curabitur sapien orci, eleifend quis suscipit in, interdum non augue. Duis vel interdum orci. Duis risus velit, posuere et dapibus non, vestibulum eu turpis. Fusce sollicitudin posuere risus, quis ultrices neque posuere varius. Vivamus lacinia semper imperdiet.
		</p>

		<p>
			Nam faucibus tempor eleifend. Mauris vitae purus sit amet ipsum mollis ullamcorper. Nam nulla dolor, tempor eu ornare eu, vehicula eu ligula. Duis accumsan purus eget massa faucibus vestibulum. Proin eros ligula, fermentum a vulputate quis, fermentum aliquet enim. Fusce lacinia mauris non enim imperdiet aliquet. Vivamus pretium auctor tellus non rutrum. Praesent eget rutrum lectus. Integer blandit nunc non nisl elementum consequat. Nulla sit amet aliquet est. Sed dictum tempor leo. Nulla auctor dapibus sem vehicula blandit.
		</p>
	</body>
