<% provide(:title, 'Work') %>
<h1>Work</h1>
	<body>
		<p>	
			<div id="images_hz">
	 		<img data-src="holder.js/180x180/text:Paintings">
	 		<img data-src="holder.js/180x180/text:Ceramics">
	 		<img data-src="holder.js/180x180/text:Drawing">
	 		<img data-src="holder.js/180x180/text:Mixed Media">
	 		<img data-src="holder.js/180x180/text:Film">
	 		</div>
		</p>
	</body>
