<nav>
	<div class="tabbable tabs-left"> 
  	<ul class="nav nav-tabs">
    	<li class="active"><%= link_to "Home", root_path %></li>
    	<li><%= link_to "About", about_path %></li>
    	<li><%= link_to "Work", work_path %></li>
    	<li><%= link_to "Contact", contact_path %></li>
  	</ul>

    <div class="tab-content">
      <div class="tab-pane active" id="Home"></div>
      <div class="tab-pane" id="About"></div>
      <div class="tab-pane" id="Work"></div>
		  <div class="tab-pane" id="Contact"></div>
    </div>
	</div>
</nav>